# oItsMineZKernel config file for enabling KernelSU Next with SusFS (Make some change from ExtremeKernel KernelSU config)
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Enable KSU Next
CONFIG_KPROBES=n
CONFIG_KSU=y
CONFIG_KSU_ALLOWLIST_WORKAROUND=y

# Enable KSU SuSFS
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y

# SuSFS Settings
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
# CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT is not set
